<%= render 'already-svg' %>
<div class="result-text">
  <p><span class="address"><%= @find_guest.guest_id %></span></p>
  <p><span class="category" style="font-size: 48px !important;"><%= @find_guest.nama %></span></p>
  <p><span class="name">Sudah Hadir</span></p>
</div>