<table class="table table-hovered table-bordered margin10 pretty">
  <thead>
    <tr>
      <th width="1%" style="text-align:center;">No.</th>
      <th width="5%" style="text-align:center;">Kelas</th>
      <th width="5%" style="text-align:center;">Keterangan</th>
      <th width="10%" style="text-align:center;">Waktu</th>
    </tr>
  </thead>
  <tbody id='list_wedding'>
    <% @searchid.each_with_index do |search,index| %>
    <tr>
        <td style="text-align:center;"> <%= index+1 %> </td>
        <td style="text-align:center;"> <%= search.kelas %> </td>
        <td style="text-align:center;"> <%= search.keterangan %> </td>
        <td style="text-align:center;"> <%= search.waktu&.strftime('%H:%M:%S %Z') %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
