<% content_for :title, "Dashboard | Reddonedigital" %>
<!-- Button Refresh -->
<div class="container-fluid">
  <div class="row dashboard-header" style="width: unset !important;">
    <div class="col-md-12">
      <h3>DASHBOARD
        <%= link_to dashboard_movings_path, class: 'btn btn-primary pull-right', id: 'btn-refresh', remote: true do %>
          <i class="fa fa-refresh"></i> Refresh
        <% end %>
      </h3>
      <hr/>
    </div>
  </div>

  <%= render partial: 'movings/dashboard/statistic', remote: true %>

  <div class="row" style="display:flex;margin-top:3rem;justify-content:center;align-items:center;border-radius: .875rem;">
    <div class="col-md-4 col-sm-6">
      <div class="panel panel-default panel-table hide-scrollbar" style="max-height:300px;border-radius: .875rem;">
        <div class="panel-heading" style="text-align:center;font-weight:bold;">KATEGORI</div>
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>Nama</th>
            <th>Total</th>
            <th>Registrasi</th>
            <th>Goodie Bag</th>
            <th>Ruang Seminar</th>
            <th>Makan Siang</th>
          </tr>
          </thead>
          <tbody id="list_kategori">
          <%= render 'movings/dashboard/list_moving', remote: true %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

<style>
    .hide-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
</style>