PROJECT_NAME=digitalguestbook

POSTGRES_USER=reddonedigital
POSTGRES_PASSWORD=digitalguestbook
POSTGRES_HOST=db

REDIS_HOST=redis

RAILS_ENV=production
RAILS_SERVE_STATIC_FILES=true
RAILS_LOG_TO_STDOUT=true
SECRET_KEY_BASE=ThisIsSecretKeyBaseForProduction