<section class="scanning">
  <div class="input-guest col-sm-12">
    <%= form_tag update_souvenir_gatherings_path, method: "GET", id: "form_souvenir",remote: true do %>
      <%= text_field_tag "souvenir",nil, class:"form-control", autofocus:"true" %>
      <input id="name" name="name" type="hidden" value="Gatherings">
    <% end %>
  </div>

  <div class="active-wedding">
<%#    <h4><span class="bg-black">THE WEDDING OF</span></h4>%>
    <h4><span class="bg-black">Penukaran Souvenir</span></h4>

              <span class="active-wedding-name">
                <%= @settingwedd.custom_one_text.present? ? @settingwedd.custom_one_text : active_wedding_name %>
                </span><br>
                <% if @settingwedd.custom_two_text !=nil %>
                <span class="active-wedding-name">
                  <%= @settingwedd.custom_two_text %>
                  </span>
                <% end %>
  </div>
  <br>
  <div id="notice"></div>
</section>

<script>
$(document).ready(function(){
  $("#form_souvenir").bind("ajax:complete", function(event,xhr,status){
    $('#souvenir').val('');
  });
});
</script>


