<div style="flex:0.5;text-align: right;margin-right: 1rem">
  <% if File.file?("app/assets/images/dempo/#{@find_guest[0].guest_id}.jpg") %>
    <%= image_tag("dempo/#{@find_guest[0].guest_id}.jpg", style: 'height:480px;') %>
  <% else %>
    <div class="fallback-image" style="height: 480px;width:357px;background: grey;margin-left: auto"></div>
  <% end %>
</div>
<div style="flex:1">
  <div>
    <p style="font-size:7rem;padding: 0;margin: 0"><%= @find_guest[0].nama %></p>
    <p style="font-size:6rem;padding: 0;margin: 0"><%= @find_guest[0].kategori %></p>
  </div>
</div>