
    <% @units.each do |unit| %>
    <tr>
        <td><%= unit.kategori %></td>
        <td><%= unit.total %></td>
        <td><%= unit.hadir %></td>
        <td><%= unit.tidakhadir %></td>
    </tr>
    <% end %>
