<%= render 'already-svg' %>
<div class="result-text">
  <% if @find_guest[0].guest_id != nil %><p><span class="address"><%= @find_guest[0].guest_id %></span></p><% end %>

  <% if @find_guest[0].nama != nil %><p><span class="category" style="font-size: 48px !important;">
  <%= @find_guest[0].nama %></span></p><% end %>

  <span class="name">Souvenir Sudah Diambil</span>
</div>
