<% content_for :title, "Dashboard | Reddonedigital" %>
<div class="row dashboard-header" style="width:100%;">
 <div class="col-md-12">
  <h3>DASHBOARD
  <%= link_to dashboard_weddings_path, class: 'btn btn-primary pull-right',id:'btn-refresh',remote: true do %>
    <i class="fa fa-refresh"></i> Refresh
  <% end %>
  </h3>
  <hr/>
 </div>
</div>

<% if @setting.count_person %>
  <%= render partial: 'weddings/dashboard/count_person', remote: true %>
<% else %>
  <%= render partial: 'weddings/dashboard/base', remote: true %>
<% end %>

  <div class="row" style="display:flex;margin-top:10px;justify-content:center;align-items:center;">
    <div class="col-md-3 col-sm-6">
     <div class="panel panel-default panel-table" style="max-height:300px">
      <div class="panel-heading" style="text-align:center;font-weight:bold;">KATEGORI</div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Nama</th>
            <th>Total</th>
            <th>Hadir</th>
            <th>Belum</th>
          </tr>
        </thead>
        <tbody id="list_kategori">
          <%= render 'list_kategori', remote: true %>
        </tbody>
      </table>
    </div>
  </div>  