<%= render 'hadir-svg' %>
<div class="result-text">
  <% if @find_guest[0].guest_id != nil %><p><span class="category"><%= @find_guest[0].guest_id %></span></p><% end %>
  <p><span class="name"><%= @find_guest[0].nama %></span></p>
  <p><span class="address">Jumlah Souvenir : <%= @find_guest[0].jumlah_souvenir %></span></p>
</div>
