<section class="error">
    <div class="error__inner">
        <h1>Comming Soon</h1>
        <h2>The page you were looking for doesn't exist!</h2>
        <p>Donec in ex eget orci facilisis gravida vitae ut tortor. In tempus lacus ac dui iaculis, placerat tempus diam vehiculaed suscipit tortor id lorem mollis</p>
    </div>
</section>