<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            Edit Event Type 
        </h3>
    </div>
  <div class="panel-body">
    <%= render 'form', type_of_event: @type_of_event %>
  </div>
</div>