


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 style="text-align:center;font-size:20px;">DOORPRIZE</h3>
    <div style ="text-align:center;font-size:36px;"><b><%= active_wedding_name %></b></div>
      </div>
  <div class="panel-body">
      <table class="table table-bordered table-hovered margin10">
        <thead class="thead-default">
          <tr>
            <th style="text-align:center">Pemenang Ke - </th>
            <th style="text-align:center">Nomor Undian</th>
            <th style="text-align:center">Nama</th>
          </tr>
        </thead>
        <tbody id='list_pemenang'>
          <%= render 'list_pemenang' %>
        </tbody>
      </table>



    </div>
</div>
